<aside class="sidebar">
    <ul class="menu">
        <li class="logo">
            <img src="logo.png" alt="imagem da logo NotificaAi" class="logo_img">
            <span>NotificaAi</span>
        </li>
        <li class="menu-item">
            <img src="house.svg" alt="">
            <span>Inicio</span>
        </li>
        <li class="menu-item">
            <img src="calendar.svg" alt="">
            <span>Calendário</span>
        </li>
        <li class="menu-item">
            <img src="settings.svg" alt="">
            <span>Sair</span>
        </li>
        <li class="menu-item">
            <img src="door_exit.svg" alt="">
            <span>Sair</span>
        </li>
    </ul>
    
</aside>
