.input {
  height: 43.19px;
  border: 1px solid var(--gray);
  padding: 0.2rem 0.5rem;
  border-radius: 8px;
  width: 100%;
  font-size: 16px;
  padding: 4px 8px;
}

.input:focus {
  outline: none;
  border: 2px solid var(--button_primary);
}

.input-error {
    border: 1px solid red !important;
}