<section class="apps-container">
    <div class="apps-choose">
        <img src="arrow-left.svg" alt="left arrow icon" class="arrow">
        <span class="title-apps">ESCOLHA OS APPS PARA NOTIFICAR VOCÊ</span>
        <img src="arrow-right.svg" alt="right arrow icon" class="arrow">
    </div>
    <div class="apps">
        <div class="app">
            <img src="instagram.svg" alt="instagram icon" class="app-icon">
            <span class="app-name">Instagram</span>
        </div>
        <div class="app">
            <img src="email.svg" alt="instagram icon" class="app-icon">
            <span class="app-name">Gmail</span>
        </div>
        <div class="app">
            <img src="telegram.svg" alt="instagram icon" class="app-icon">
            <span class="app-name">Telegram</span>
        </div>
        <div class="app">
            <img src="whatsapp.svg" alt="instagram icon" class="app-icon">
            <span class="app-name">Whatsapp</span>
        </div>
        <div class="app">
            <img src="discord.svg" alt="instagram icon" class="app-icon">
            <span class="app-name">Discord</span>
        </div>
    </div>
</section>