<section class="apps-container">
    <div class="apps-choose">
        <img src="arrow-left.svg" alt="left arrow icon" class="apps-choose__arrow">
        <span class="apps-choose__title">ESCOLHA OS APPS PARA NOTIFICAR VOCÊ</span>
        <img src="arrow-right.svg" alt="right arrow icon" class="apps-choose__arrow">
    </div>
    <div class="apps-list">
        <div class="apps-list__blur apps-list__blur--left"></div>
        <div class="apps-list__carousel">
            <ul class="apps-list__items">
                <li class="apps-list__item">
                    <img src="x.svg" alt="instagram icon" class="apps-list__icon">
                    <span class="apps-list__name">Twitter</span>
                </li>
                <li class="apps-list__item">
                    <img src="instagram.svg" alt="instagram icon" class="apps-list__icon">
                    <span class="apps-list__name">Instagram</span>
                </li>
                <li class="apps-list__item">
                    <img src="email.svg" alt="instagram icon" class="apps-list__icon">
                    <span class="apps-list__name">Gmail</span>
                </li>
                <li class="apps-list__item">
                    <img src="telegram.svg" alt="instagram icon" class="apps-list__icon">
                    <span class="apps-list__name">Telegram</span>
                </li>
                <li class="apps-list__item">
                    <img src="whatsapp.svg" alt="instagram icon" class="apps-list__icon">
                    <span class="apps-list__name">Whatsapp</span>
                </li>
                <li class="apps-list__item">
                    <img src="discord.svg" alt="instagram icon" class="apps-list__icon">
                    <span class="apps-list__name">Discord</span>
                </li>
            </ul>
            <ul class="apps-list__items" aria-hidden="true">
                <li class="apps-list__item">
                    <img src="x.svg" alt="instagram icon" class="apps-list__icon">
                    <span class="apps-list__name">Twitter</span>
                </li>
                <li class="apps-list__item">
                    <img src="instagram.svg" alt="instagram icon" class="apps-list__icon">
                    <span class="apps-list__name">Instagram</span>
                </li>
                <li class="apps-list__item">
                    <img src="email.svg" alt="instagram icon" class="apps-list__icon">
                    <span class="apps-list__name">Gmail</span>
                </li>
                <li class="apps-list__item">
                    <img src="telegram.svg" alt="instagram icon" class="apps-list__icon">
                    <span class="apps-list__name">Telegram</span>
                </li>
                <li class="apps-list__item">
                    <img src="whatsapp.svg" alt="instagram icon" class="apps-list__icon">
                    <span class="apps-list__name">Whatsapp</span>
                </li>
                <li class="apps-list__item">
                    <img src="discord.svg" alt="instagram icon" class="apps-list__icon">
                    <span class="apps-list__name">Discord</span>
                </li>
            </ul>
            <div class="apps-list__blur apps-list__blur--right"></div>
        </div>
    </div>
</section>