@if (control && control.invalid && control.dirty) {
    <ul>

        @if (control.hasError('required')) {
        <li class="error-message">&#9888; Este Campo é obrigatório!</li>
        } @if (control.hasError('maxlength') && maxLength) {
        <li class="error-message">
            &#9888; Este campo deve ter no máximo {{ maxLength }} caracteres!
        </li>
        }@if (control.hasError('email')) {
        <li class="error-message">&#9888; Endereço de E-mail inválido!</li>
        } @if (control.hasError('minlength') && minLength) {
        <li class="error-message">
            &#9888; Este campo deve ter ao menos {{ minLength }} caracteres!
        </li>
        } @if (control.hasError('pattern')) {
        <li class="error-message">&#9888; Padrão inválido!</li>
        }
    </ul>
}