<section class="plans">
    <h2 class="plans-title">Assinaturas</h2>
    <div class="plans-content">
        <article class="plan">
            <h3 class="plan-title">Plus</h3>
            <span class="plan-subtitle">O básico que é mais que o básico</span>
            <h5 class="app-functions">Principais items</h5>
            <ul class="apps-checks">
                <li class="app-check"><img src="check.svg" alt="check icon">1 apps para notificar</li>
                <li class="app-check"><img src="check.svg" alt="check icon">10 notificações por mês</li>
                <li class="app-check"><img src="check.svg" alt="check icon">1 hórario por dia</li>
                <li class="app-check"><img src="close.svg" alt="check icon">IA para organizar pagamentos</li>
            </ul>
               <app-button width='full' variant='normal' class="plan-button">
                <a href="#">Assinar</a>
            </app-button>
        </article>
         <article class="plan">
            <h3 class="plan-title">Pro</h3>
            <span class="plan-subtitle">Esse aqui tem coisa hein</span>
            <h5 class="app-functions">Principais items</h5>
            <ul class="apps-checks">
                <li class="app-check"><img src="check.svg" alt="check icon">3 apps para notificar</li>
                <li class="app-check"><img src="check.svg" alt="check icon">15 notificações por dia</li>
                <li class="app-check"><img src="check.svg" alt="check icon">3 hórario por dia</li>
                <li class="app-check"><img src="close.svg" alt="check icon">IA para organizar pagamentos</li>
            </ul>
            <app-button width='full' variant='normal' class="plan-button">
                <a href="#">Assinar</a>
            </app-button>
        </article>
         <article class="plan">
            <h3 class="plan-title">Ultra</h3>
            <span class="plan-subtitle">Beneficios exclusivos e uso de IA</span>
            <h5 class="app-functions">Principais items</h5>
            <ul class="apps-checks">
                <li class="app-check"><img src="check.svg" alt="check icon">Todos os apps para notificar</li>
                <li class="app-check"> <img src="check.svg" alt="check icon">ilimitadas notificações por mês</li>
                <li class="app-check"><img src="check.svg" alt="check icon">ilimitadas hórario por dia</li>
                <li class="app-check"><img src="check.svg" alt="check icon">IA para organizar pagamentos</li>
            </ul>
            <app-button width='full' variant='normal' class="plan-button">
                <a href="#">Assinar</a>
            </app-button>
        </article>
    </div>
</section>