<section class="how-works">
        <h2 class="how-works-title">Como funciona</h2>
        <article class="step">
            <span class="step-title">Passo 1</span>
            <div class="step-content">
                <div class="step-content-texts">
                    <h3>Escolha os apps que deseja receber as notificações</h3>
                    <span>Escolha se você quer receber em apenas em um app ou em vários apps diferentes</span>
                    <ul class="apps-list">
                            <li class="app-check"> <img src="check.svg" alt="check icon">Instagram</li>
                            <li class="app-check"><img src="check.svg" alt="check icon">Twitter</li>
                            <li class="app-check"><img src="check.svg" alt="check icon">Whatsapp</li>
                            <li class="app-check"><img src="check.svg" alt="check icon">Discord</li>
                            <li class="app-check"><img src="check.svg" alt="check icon">Gmail</li>
                            <li class="app-check"><img src="check.svg" alt="check icon">Telegram</li>
                    </ul>
                </div>
                <div class="step-content-images">
                    <img src="apps-possibles.svg" alt="apps images" class="apps-images">
                </div>
            </div>
        </article>
        <article class="step">
            <span class="step-title">Passo 2</span>
            <div class="step-content">
                <div class="step-content-texts">
                    <h3>Configure os lembretes</h3>
                    <span>Coloque mensagens de lembretes personalizadas e podendo lembrar quantas vezes quiser e quantos hórarios quiser. Defina os dias com os hórarios que deseja receber</span>
                     <ul class="apps-list">
                            <li class="app-check"> <img src="check.svg" alt="check icon">Configuração costumizada</li>
                            <li class="app-check"><img src="check.svg" alt="check icon">Simples e fácil</li>
                            <li class="app-check"><img src="check.svg" alt="check icon">Lembre minutos com antecedência</li>
                            <li class="app-check"><img src="check.svg" alt="check icon">Não esqueça mais nada</li>
                            <li class="app-check"><img src="check.svg" alt="check icon">Sem downloads</li>
                            <li class="app-check"><img src="check.svg" alt="check icon">Intuitivo</li>
                    </ul>
                </div>
                <div class="step-content-images">
                    <img src="create-notification.svg" alt="create notifications images" class="create-notification-image">
                </div>
            </div>
        </article>
        <article class="step">
            <span class="step-title">Passo 3</span>
            <div class="step-content">
                <div class="step-content-texts">
                    <h3>Prontinho!</h3>
                    <span>Assim que der o hórario nossos bots notificaram você, nem precisa se preocupar!</span>
                     <ul class="apps-list">
                            <li class="app-check"> <img src="check.svg" alt="check icon">Sem baixar nada</li>
                            <li class="app-check"><img src="check.svg" alt="check icon">Rapido e fácil</li>
                            <li class="app-check"><img src="check.svg" alt="check icon">Configuração rápida</li>
                            <li class="app-check"><img src="check.svg" alt="check icon">Muitos apps cadastrados</li>
                            <li class="app-check"><img src="check.svg" alt="check icon">Suporte 24h</li>
                            <li class="app-check"><img src="check.svg" alt="check icon">Teste por 7 dias de graça</li>
                    </ul>
                </div>
                <div class="step-content-images">
                    <img src="notifications.svg" alt="cellphone notifications images">
                </div>
            </div>
        </article>

</section>