@import url('../../../../styles/styles.css');


.hero{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-content{
    width: 768px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;

}

.hero-title{
    margin-top: 62px;
    font-family: 'TT Hoves', sans-serif;
    font-weight: 600;
    font-size: 64px;
    text-align: center;
}

.hero-subtitle{
    font-size: 24px;
}

.buttons{
    display: flex;
    gap: 12px;
}

.button{
  cursor: pointer;
  padding: 12px 32px;
  line-height: 28px; 
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  font-size: 18px;
  font-weight: 600;
}

.button_primary{
    background: var(--button_primary);
    color: var(--white) !important;
}

.button_primary:hover {
    background: var(--button_primary_hover);
}

.button_second{
    color: var(--black);
    background: var(--white);
    border: 1px solid var(--gray);
}

.button_second:hover{
    color: var(--black);
    background: var(--gray_light);
    border: 1px solid var(--gray_dark);
}

