
<section class="hero">
    <main class="hero-content">
        <h1 class="hero-title">Escolha seu app favorito e receba lembretes!</h1>
        <span class="hero-subtitle">Ao inves de você baixar mais um app e encher seu celular com mais memória, configure no seu app favorito as notificações que deseja receber</span>
        <div class="buttons"> 
            <a class="button button_primary" href="login">Fazer login</a>
            <a class="button button_second" href="register">Registrar</a>
        </div>
    </main>
</section>
