* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  border: none;
  font-family: 'TT Hoves', sans-serif;
}

:root {
  --button_primary: #aa4cf9;
  --button_primary_hover: #813eb8;
  --button_primary_transparent: #8900fa41;
  --text_link: #4F46E4;
  --text_link_hover: #24206b;
  --gray_light: #e1e1e1;
  --gray: #d1d1d1;
  --gray_dark: #848484;
  --white: #FFFFFF;
  --black: #000000;
}

a:link, a:visited, a:hover, a:active {
  text-decoration: none;
  color: inherit;
}

@font-face {
    font-family: 'TT Hoves';
    src: local('TT Hoves Regular'), local('TTHoves-Regular'),
        url('../fonts/TTHoves-Regular.woff2') format('woff2'),
        url('../fonts/TTHoves-Regular.woff') format('woff'),
        url('../fonts/TTHoves-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TT Hoves';
    src: local('TT Hoves DemiBold'), local('TTHoves-DemiBold'),
        url('../fonts/TTHoves-DemiBold.woff2') format('woff2'),
        url('../fonts/TTHoves-DemiBold.woff') format('woff'),
        url('../fonts/TTHoves-DemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'TT Hoves';
    src: local('TT Hoves Medium'), local('TTHoves-Medium'),
        url('../fonts/TTHoves-Medium.woff2') format('woff2'),
        url('../fonts/TTHoves-Medium.woff') format('woff'),
        url('../fonts/TTHoves-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

