@import url('../../../../styles/styles.css');

.header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 32px;
    background-color: #f9f9ff;
    font-family: 'TT Hoves', sans-serif;
}

.nav_links {
    display: flex;
    gap: 16px;
    justify-content: center;
    align-items: center;
}

.nav_link {
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
    cursor: pointer;
}

.buttons_auth {
    display: flex;
    gap: 8px;
}

.logo {
    display: flex;
    align-items: center;
    gap: 8px;
    font-weight: 600;
    font-size: 18px;
}

.logo .logo_img {
    width: 48px;
    height: 48px;
}

.hamburger_button {
    display: none;
    cursor: pointer;
    font-size: 20px;
    font-weight: 500;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.hamburger_menu {
    position: absolute;
    display: flex;
    bottom: 0px;
    left: 0;
    height: 0;
    width: 100%;
}

.menu {
    display: none;
}

@media only screen and (max-width: 1024px) {
    .header {
        justify-content: space-between;
    }

    .nav_link {
        display: none;
    }

    .button_auth {
        display: none;
    }

    .hamburger_button {
        display: block;
    }

    .menu {
        height: 300px;
        width: 100%;
        padding: 24px;
        border-bottom: 1px solid var(--gray);
        background: #f9f9ff;
        display: flex;
        flex-direction: column;
        gap: 16px;
        font-size: 18px;
        font-weight: 500;
    }
}
