<header class="header">
    <nav class="nav">
        <ul class="nav_links">
            <li>
                <div class="logo">
                    <img src="logo.png" alt="logo_notificaAi" class="logo_img">
                    <span>NotificaAi</span>
                </div>
            </li>
            <li class="nav_link">
                Produtos
            </li>
            <li class="nav_link">
                Preços
            </li>
            <li class="nav_link">
                Sobre nós
            </li>
        </ul>
    </nav>
    <nav >
        <ul class="buttons_auth">
            <li>
                <app-button   
                    width="auto"
                    variant="normal"
                    type="button">
                    <a href="login">Login</a>
                </app-button>
            </li>
            <li>
                <app-button
                    width="auto"
                    variant="outline"
                    type="button"
                ><a href="register">Register</a></app-button>
            </li>
        </ul>
    </nav>
</header>