@import url('../../../../styles/styles.css');

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 32px;
    background-color: #F9F9FF;
    font-family: 'TT Hoves', sans-serif;
}

.nav_links{
    display: flex;
    gap: 16px;
    justify-content: center;
    align-items: center;
}

.nav_link{
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
    cursor: pointer;
}

.buttons_auth{
    display: flex;
    gap:8px;
}

.logo{
    display: flex;
    align-items: center;
    gap: 8px;
    font-weight: 600;
    font-size: 18px;
}

.logo .logo_img{
    width: 48px;
    height: 48px;
}

