.inputs-otp {
  display: flex;
  gap: 0.75rem;
}

.inputs-otp .input-square {
  width: 47px;
  height: 47px;
  border: 1px solid var(--gray);
  border-radius: 0.5rem;
  text-align: center;
  font-size: 16px;
}

.inputs-otp .input-square:focus {
  outline: none;
  border: 2px solid var(--button_primary); 
}

.inputs-otp .bar {
  display: flex;
  align-items: center;
  color: var(--gray);
}
