<header class="header">
    <nav class="nav">
        <ul class="nav_links">
            <li>
                <div class="logo">
                    <img src="logo.png" alt="logo_notificaAi" class="logo_img">
                    <span>NotificaAi</span>
                </div>
            </li>
            <li>
                Produtos
            </li>
            <li>
                Preços
            </li>
        </ul>
    </nav>
    <nav >
        <ul class="buttons_auth">
            <li>
                <a href="login">Login</a>
            </li>
            <li>
                <a href="register">Register</a>
            </li>
        </ul>
    </nav>
</header>