<div class="login_form">
    <img
        src="arrow-left.svg"
        alt="seta para voltar"
        class="arrow_back"
        (click)="backStep()"
        *ngIf="form_step === 2" />
    <div class="login_form_title">
        <h2>Bem vindo de volta</h2>
        <span>Entre na sua conta</span>
    </div>
    <div *ngIf="form_step === 1" class="form_step">
        <app-login-email-step (nextStep)="nextStep()"></app-login-email-step>
        <span
            >Não tem uma conta ainda?
            <a [routerLink]="REGISTER_ROUTER" class="link_text"
                >Criar agora</a
            ></span
        >
    </div>
    <div *ngIf="form_step === 2" class="form_step">
        <app-login-token-step></app-login-token-step>
    </div>
</div>
