.register_form{
    margin: 0 auto;
    width: 360px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
}

.register_form_title h2{
    font-size: 32px;
    font-weight: 600;
}

.register_form_title span{
    font-size: 18px;
}

.form_step{
    display: flex;
    flex-direction: column;
    gap: 16px;
}