.main{
    overflow: auto !important;
    display: flex;
    position: relative;

}

.board-columns{
    display: flex;
    gap: 24px;
}

.board-title{
   user-select: none;
}

.board-column{
    width: 284px;  
    display: flex;
    flex-direction: column;
    gap: 16px;
    border-radius: 8px;
    margin-bottom: 20px;
}

.task-card{
    user-select: contain;
    width: 100%;
    border: 1px solid var(--gray);
    padding: 16px;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}



