<main>
  <div class="board-columns">
    <div
      class="board-column"
      *ngFor="let column of columns"
    >
      <h2 class="board-title">{{ column.name }}</h2>

      <div
        class="task-card"
        *ngFor="let task of column.tasks; let i = index"
        draggable="true"
        (dragstart)="onDragStart($event, task)"
        (dragend)="onDragEnd($event)"
        (dragover)="onDragOver($event)"
        [ngClass]="{ 'dragging': task === draggedTask }"
      >
        <div class="task-card-header">
          <h3>{{ task === draggedTask ? '' : task.title }}</h3>
        </div>
        <div class="task-card-body">
          <p>{{ task === draggedTask ? '' : task.description }}</p>
        </div>
      </div>


    </div>
  </div>
</main>
