<main class="main">
  <div class="board-columns">
    <div
      class="board-column"
      *ngFor="let column of columns"
    >
      <h2 class="board-title">{{ column.name }}</h2>

      <div
        class="task-card"
        *ngFor="let task of column.tasks; let i = index"
      
      >
        <div class="task-card-header">
          <h3>task.title </h3>
        </div>
        <div class="task-card-body">
          <p>task.description </p>
        </div>
      </div>


    </div>
  </div>
</main>
