<section>
    <div class="logo">
        <img src="logo.png" alt="logo_notificaAi" class="logo_img">
        <span>NotificaAi</span>
    </div>
    <div>
        <div>
            <h2>Bem vindo de volta</h2>
            <span>Entre na sua conta</span>
            <div>
                <span>Email</span>
                <app-input placeholder="Digite seu email"></app-input>
                <app-button width="auto" variant="normal" type="button">Fazer login</app-button>
                <span>Não tem uma conta ainda <u>Criar agora</u></span>
            </div>
        </div>
        <div>
        
        </div>
    </div>
</section>