
.calendar-headline-controls{
    display:flex;
    gap: 12px;
    justify-content: space-between;
    align-items: center;
}

.calendar-headline-month{
    font-size: 20px;
}

.calendar-headline-control{
    cursor: pointer;
    width: 32px;
    height: 32px;
    border: 1px solid var(--gray);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    user-select: none;
    font-weight: 500;
}

.calendar-headline-control:hover{
    background: var(--gray);
}

 .calendar-days-of-week-names-grid, .calendar-week-days-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    justify-items: center;
    gap: 8px;
    width: fit-content;
}


.calendar-day-of-week-name-cell, .calendar-day-cell{
    cursor: pointer;
    padding: 4px;
    border-radius: 100px;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center ;
    justify-content: center;
}

.calendar-grid-cell-outside-month{
    opacity: 0.3;
}

.calendar-grid-cell-active{
    background-color: var(--button_primary_transparent);
    border-radius: 100px;
}

.schedule{
    margin-top: 20px;
}